*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_content{
    margin: 0 auto;
    overflow-x: hidden;
}
.home_page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('.//images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
}
.menu{
    display: none;
}
.logo h2{
    font-size: 2rem;
    font-weight: bolder;
    color: white;  
}
.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
.links ul li{
    margin: auto 0.3rem;
    color: white;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0.3rem;
}
.profile ul{
    list-style: none;
    margin: auto 0.625rem;
}
.profile ul li{
    color: white;

}
.profile button{
    background-color: rgb(56, 152, 226);
    color: white;
    padding: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.motto h3{
color: white;
font-weight: bolder;
font-size: 3rem;
letter-spacing: 0.0125em;
word-spacing: 0.0125em;
margin: 1.25rem auto;
}
.mission p{
    color: white;
    margin: 1.25rem auto;
}
.easy_links{
   display: flex; 
   align-items: center;
   justify-content: center;
}
.easy_links button{
    background-color: rgb(56, 152, 226);
    color: white;
    padding: 0.625rem;
    text-align: center;
    border-radius: 0.625rem;
    margin: auto 1.25rem;
}
.about_page{
display: grid;
grid-template-columns: repeat(3,1fr);
justify-content: center;
align-items: center;
gap: 2.5rem;
margin:auto 10%;
background-color:rgb(211, 203, 203);
}
.about_page :nth-child(3){
    background-color: rgb(56, 152, 226);
}
.about{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    margin-top: -4.6875rem;
    background-color: white;
    height: 9.375rem;
    padding: 0.312rem;
}
.about span{
    color:  rgb(56, 152, 226);
}
.about h5{
    font-weight: bolder;
    font-size: 1.5rem;
}
.about .text{
    background-color: transparent;
}
.about_details{
background-color: white;
display: grid;
grid-template-columns: repeat(3,1fr);
justify-content: center;
align-items: center;
gap: 2.5rem;
margin:9.375rem 10%;
}
.aboutdt{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    height: 9.375rem;
    padding: 0.3125rem;
}
.aboutdt span{
    color:  rgb(56, 152, 226);
}
.testimonials{
    background-color: rgb(255, 250, 250);
    height: 100%;
}
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}
.industry{
margin: 6.25rem;
}
.industry h3{
text-align: center;
}
.testimony{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}
.testimony .person{
    height: 25rem;
    background-color: white;
}
.person{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto 10%;
    width: 100%;
    box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
-webkit-box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
-moz-box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
}
.person img{
    border-radius: 50%;
    height: 35%;
}
.person .content{
    margin: 1.2rem auto;
}
.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews .checked{
    color: orange;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin:3rem 10%;
}
.sponsors img{
    height: 3.125rem;
    width: 75px;
}
.subscription{
    background-image: linear-gradient(to right, indigo, rgb(180, 42, 152));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 50%;
    transform: translate(-50%);
    padding: 1.25rem;
    width: 80%;
    margin-bottom:0.625rem;
}
.content{
    flex: 1;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1.25rem;
    width: 50%;
}
.content p{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;

}
.input input{
    padding: 1.25rem;
    width: 100%;
    font-size: bolder;
}
.input button{
padding: 1.25rem;
    position: absolute;
    right: 0;
    background-color:  rgb(56, 152, 226);
}
.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 18.75rem;
}
.packages{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 1.875rem;
    margin: 3.125rem auto;
}
.package{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    padding: 1.25rem;
    border-radius: 10px;
}
.package p {
    color: black;
    background-color: transparent;
}
.packages :nth-child(2){
    background-color: rgba(2, 2, 43, 0.922);
}
.package button{
    padding: 0.625rem;
    background-color:  rgb(56, 152, 226);
    border-radius: 10px;
}
.locations{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    background-color: rgb(2, 2, 62);
    width: 100vw;
padding: 3.125rem;
/* display: flex;
align-items: flex-start;
justify-content:center;


width: 100vw;
padding: 3.125rem;

*/
}
.cont{
    margin: 1.25rem 3.125rem;
}
.cont h2{
    font-weight: bolder;
    font-size: 32px;
    color: white;
    margin-bottom: 0.625rem;
}
.locations img{
height: 100px;
width: 100px;
}
.contact{
    display: flex;
    align-items:center;
   justify-content: center;
   height: 25rem;
   margin-left: 20%;
   margin-right: 20%;
   margin-top: -12.5rem;
   padding: 0.3125rem;
background-color: white;
position: relative;
}


.contact .image{ 
    flex: 1;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/contact.png'); */
 }
 .contact .image img{
    position: absolute;
    left: 0;
    top: 0;
    background-position: left;
    object-fit: cover;
    background-size: cover;
    
 }
.contact .form_details{
    flex: 2;
}
.form_details h1{
    position: absolute;
    top: 0;
    text-align: center;
}
.form_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    width: 80%;

}

.form_details div{
    width:100%;
}
.form_details input  {
    width: 100%;
    padding: 10px;
}
.form_details button{
    width: 80%;
    background-color: rgb(56, 152, 226);
    margin: 10px 10%;
    padding: 10px;
}
.agency{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    margin:20px auto;
}
.agency p{
    font-size: 32px;
    font-weight: bolder;
}
.agency button{
    padding: 1.25rem;
    background-color:  rgb(56, 152, 226);
    border-radius: 1.25rem;
}
.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    margin: auto 10%;
    padding: 1.25rem;
}
.footer .navig p{
    text-align: center;
}
.navig ul{
    text-decoration: none;
    list-style: none;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray,
}
@media only screen and (max-width: 768px) {
.links{
    display: none;
}
.profile{
    display: none;
}
.header{
    display:flex ;
    justify-content:space-between ;
    align-items: center;
}
.motto h3{
   text-align: center;

}
.menu{
display: flex;
cursor: pointer;
}
.footer{
    display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
margin: auto 10%;
}
.footer .navig p{
    font-size: 24px;
    font-weight:bolder;
 }
}
@media only screen and (max-width :600px){
.person{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto 5%;
    padding: 1.6rem;
    box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
-webkit-box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
-moz-box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20px 20px;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin:3rem 10%;
}
.easy_links{
margin-bottom: 0.625rem;
}
.subscription {
    background-image: linear-gradient(to right, indigo, rgb(180, 42, 152));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 1.25rem;
    width: 100%;
    margin-bottom:0.3125rem;
}
.footer{
    display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
align-items: center;
margin: auto 10%;
}
.footer .navig p{
    font-size: 24px;
    font-weight:bolder;
 }
}
@media only screen and (max-width:500px){
    .motto h3{
text-align: center;
font-size: 1.5rem;
font-weight: medium;
    }
    .easy_links  button{
        padding: 0.5rem; 
    }
    .about{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
        margin-top: -4.6875rem;
        background-color: white;
        height: 12rem;
        padding: 0.312rem;
    }
  
}
@media only screen and (max-width:545px){
    .testimony{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
    .person{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        /* margin: auto 10%; */
        width: 50vw;
        box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
    -webkit-box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
    -moz-box-shadow: 0.625rem 0.625rem 5px 0px rgba(227,216,216,0.75);
    } 
    .packages{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
        margin: 3.125rem auto;
        /* height: 200px; */
        height: 100vh;
    }
    .package{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 25rem;
        border-radius: 0.625rem;
        box-shadow: 10px 10px 14px 5px rgba(0,0,0,0.39);
-webkit-box-shadow: 10px 10px 14px 5px rgba(0,0,0,0.39);
-moz-box-shadow: 10px 10px 14px 5px rgba(0,0,0,0.39);
    }
    .subscription {
        background-image: linear-gradient(to right, indigo, rgb(180, 42, 152));
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding: 1.25rem;
        width: 100%;
        margin-bottom:0.3125rem;
    }
.locations{
    margin-top: 50rem;
}
    /* .contact{
height: 12.5rem;
    } */
    .contact .image{ 
        display: none;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('./images/contact.png'); */
     }
     .footer .navig p{
        font-size: 24px;
        font-weight:bolder;
     }
    .footer{
        display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin: auto 10%;
    }
}
